In [3]:
import pandas as pd
import numpy as np

In [4]:
arr = np.array(("Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Cooprt", "Nico Robin", "Franky", "Brook"))
ser = pd.Series(arr)  #預設索引
print(type(ser))
print("\n")
print(ser)

<class 'pandas.core.series.Series'>


0     Monkey D. Luffy
1        Roronoa Zoro
2                Nami
3               Usopp
4      Vinsmoke Sanji
5    Tony Tony Cooprt
6          Nico Robin
7              Franky
8               Brook
dtype: object

In [7]:
#自訂索引

crew_idx = []
for i in range(ser.size):
    crew_idx.append('crew' + str(i + 1))
ser = pd.Series(arr, index = crew_idx)
print(ser)

crew1     Monkey D. Luffy
crew2        Roronoa Zoro
crew3                Nami
crew4               Usopp
crew5      Vinsmoke Sanji
crew6    Tony Tony Cooprt
crew7          Nico Robin
crew8              Franky
crew9               Brook
dtype: object

In [11]:
#Data是dict，預設會將Key當索引

crew_dict = {
    "captain" : "Monkey D. Luffy",
    "sordsman" : "Roronoa Zoro",
    "navigator" : "Nami",
    "sniper" : "Usopp",
    "chef" : "Vinsmoke Sanji",
    "doctor" : "Tony Tony Cooprt",
    "archaeologist" : "Nico Robin",
    "shipwright" : "Franky",
    "musician" : "Brook"
}

#按照index (key)排序
ser = pd.Series(crew_dict).sort_index()
print(ser)

archaeologist          Nico Robin
captain           Monkey D. Luffy
chef               Vinsmoke Sanji
doctor           Tony Tony Cooprt
musician                    Brook
navigator                    Nami
shipwright                 Franky
sniper                      Usopp
sordsman             Roronoa Zoro
dtype: object

In [10]:
#按照Dict原本keys順序排序
ser = pd.Series(crew_dict, index=crew_dict.keys())
print(ser)

captain           Monkey D. Luffy
sordsman             Roronoa Zoro
navigator                    Nami
sniper                      Usopp
chef               Vinsmoke Sanji
doctor           Tony Tony Cooprt
archaeologist          Nico Robin
shipwright                 Franky
musician                    Brook
dtype: object

In [12]:
#data為單一資料

luffy = "Monkey D. Luffy"
ser = pd.Series(luffy, index=range(5))
print(ser)

0    Monkey D. Luffy
1    Monkey D. Luffy
2    Monkey D. Luffy
3    Monkey D. Luffy
4    Monkey D. Luffy
dtype: object

In [19]:
#透過索引值或標籤選取資料

ser = pd.Series(crew_dict, index=crew_dict.keys())
print(ser[0])
print(ser['captain'])
print('\n')
print(ser[[0, 3, 6]])
print(ser[['captain', 'sniper', 'archaeologist']])

Monkey D. Luffy
Monkey D. Luffy


captain          Monkey D. Luffy
sniper                     Usopp
archaeologist         Nico Robin
dtype: object
captain          Monkey D. Luffy
sniper                     Usopp
archaeologist         Nico Robin
dtype: object

In [23]:
# 透過 : 快速切割
print(ser[:3])
print("\n")
print(ser['sniper':])

captain      Monkey D. Luffy
sordsman        Roronoa Zoro
navigator               Nami
dtype: object


sniper                      Usopp
chef               Vinsmoke Sanji
doctor           Tony Tony Cooprt
archaeologist          Nico Robin
shipwright                 Franky
musician                    Brook
dtype: object

In [24]:
#透過條件判斷進行布林篩選

name_filter = ser.isin(("Nami", "Nico Robin"))
print(ser[name_filter])

navigator              Nami
archaeologist    Nico Robin
dtype: object

In [25]:
#element-wide運算

crew_age = {
    "Monkey D. Luffy" : 19,
    "Roronoa Zoro" : 21,
    "Nami" : 20,
    "Usopp" : 19,
    "Vinsmoke Sanji" : 21,
    "Tony Tony Cooprt" : 17,
    "Nico Robin" : 30,
    "Franky" : 36,
    "Brook" : 90
}

ser = pd.Series(crew_age, index=crew_age.keys())
print(ser - 2)

Monkey D. Luffy     17
Roronoa Zoro        19
Nami                18
Usopp               17
Vinsmoke Sanji      19
Tony Tony Cooprt    15
Nico Robin          28
Franky              34
Brook               88
dtype: int64