In [1]:
import pandas as pd

In [2]:
csv_file = "https://storage.googleapis.com/learn_pd_like_tidyverse/gapminder.csv"
gapminder = pd.read_csv(csv_file)

In [3]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [5]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:
gapminder.shape

(1704, 6)

In [9]:
is_tw = gapminder['country'] == 'Taiwan'
gapminder.loc[is_tw, :]

     country continent  year  lifeExp       pop     gdpPercap
1500  Taiwan      Asia  1952    58.50   8550362   1206.947913
1501  Taiwan      Asia  1957    62.40  10164215   1507.861290
1502  Taiwan      Asia  1962    65.20  11918938   1822.879028
1503  Taiwan      Asia  1967    67.50  13648692   2643.858681
1504  Taiwan      Asia  1972    69.39  15226039   4062.523897
1505  Taiwan      Asia  1977    70.59  16785196   5596.519826
1506  Taiwan      Asia  1982    72.16  18501390   7426.354774
1507  Taiwan      Asia  1987    73.40  19757799  11054.561750
1508  Taiwan      Asia  1992    74.26  20686918  15215.657900
1509  Taiwan      Asia  1997    75.25  21628605  20206.820980
1510  Taiwan      Asia  2002    76.99  22454239  23235.423290
1511  Taiwan      Asia  2007    78.40  23174294  28718.276840

In [14]:
gapminder.loc[:, ['country', 'continent']]

          country continent
0     Afghanistan      Asia
1     Afghanistan      Asia
2     Afghanistan      Asia
3     Afghanistan      Asia
4     Afghanistan      Asia
5     Afghanistan      Asia
6     Afghanistan      Asia
7     Afghanistan      Asia
8     Afghanistan      Asia
9     Afghanistan      Asia
10    Afghanistan      Asia
11    Afghanistan      Asia
12        Albania    Europe
13        Albania    Europe
14        Albania    Europe
15        Albania    Europe
16        Albania    Europe
17        Albania    Europe
18        Albania    Europe
19        Albania    Europe
20        Albania    Europe
21        Albania    Europe
22        Albania    Europe
23        Albania    Europe
24        Algeria    Africa
25        Algeria    Africa
26        Algeria    Africa
27        Algeria    Africa
28        Algeria    Africa
29        Algeria    Africa
...           ...       ...
1674  Yemen, Rep.      Asia
1675  Yemen, Rep.      Asia
1676  Yemen, Rep.      Asia
1677  Yemen, Rep.      Asia
1678  Yemen, Rep.      Asia
1679  Yemen, Rep.      Asia
1680       Zambia    Africa
1681       Zambia    Africa
1682       Zambia    Africa
1683       Zambia    Africa
1684       Zambia    Africa
1685       Zambia    Africa
1686       Zambia    Africa
1687       Zambia    Africa
1688       Zambia    Africa
1689       Zambia    Africa
1690       Zambia    Africa
1691       Zambia    Africa
1692     Zimbabwe    Africa
1693     Zimbabwe    Africa
1694     Zimbabwe    Africa
1695     Zimbabwe    Africa
1696     Zimbabwe    Africa
1697     Zimbabwe    Africa
1698     Zimbabwe    Africa
1699     Zimbabwe    Africa
1700     Zimbabwe    Africa
1701     Zimbabwe    Africa
1702     Zimbabwe    Africa
1703     Zimbabwe    Africa

[1704 rows x 2 columns]

In [15]:
gapminder['country_abb'] = gapminder['country'].apply(lambda x : x[:3])
gapminder

          country continent  year  lifeExp       pop    gdpPercap country_abb
0     Afghanistan      Asia  1952   28.801   8425333   779.445314         Afg
1     Afghanistan      Asia  1957   30.332   9240934   820.853030         Afg
2     Afghanistan      Asia  1962   31.997  10267083   853.100710         Afg
3     Afghanistan      Asia  1967   34.020  11537966   836.197138         Afg
4     Afghanistan      Asia  1972   36.088  13079460   739.981106         Afg
5     Afghanistan      Asia  1977   38.438  14880372   786.113360         Afg
6     Afghanistan      Asia  1982   39.854  12881816   978.011439         Afg
7     Afghanistan      Asia  1987   40.822  13867957   852.395945         Afg
8     Afghanistan      Asia  1992   41.674  16317921   649.341395         Afg
9     Afghanistan      Asia  1997   41.763  22227415   635.341351         Afg
10    Afghanistan      Asia  2002   42.129  25268405   726.734055         Afg
11    Afghanistan      Asia  2007   43.828  31889923   974.580338         Afg
12        Albania    Europe  1952   55.230   1282697  1601.056136         Alb
13        Albania    Europe  1957   59.280   1476505  1942.284244         Alb
14        Albania    Europe  1962   64.820   1728137  2312.888958         Alb
15        Albania    Europe  1967   66.220   1984060  2760.196931         Alb
16        Albania    Europe  1972   67.690   2263554  3313.422188         Alb
17        Albania    Europe  1977   68.930   2509048  3533.003910         Alb
18        Albania    Europe  1982   70.420   2780097  3630.880722         Alb
19        Albania    Europe  1987   72.000   3075321  3738.932735         Alb
20        Albania    Europe  1992   71.581   3326498  2497.437901         Alb
21        Albania    Europe  1997   72.950   3428038  3193.054604         Alb
22        Albania    Europe  2002   75.651   3508512  4604.211737         Alb
23        Albania    Europe  2007   76.423   3600523  5937.029526         Alb
24        Algeria    Africa  1952   43.077   9279525  2449.008185         Alg
25        Algeria    Africa  1957   45.685  10270856  3013.976023         Alg
26        Algeria    Africa  1962   48.303  11000948  2550.816880         Alg
27        Algeria    Africa  1967   51.407  12760499  3246.991771         Alg
28        Algeria    Africa  1972   54.518  14760787  4182.663766         Alg
29        Algeria    Africa  1977   58.014  17152804  4910.416756         Alg
...           ...       ...   ...      ...       ...          ...         ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010         Yem
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538         Yem
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673         Yem
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526         Yem
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827         Yem
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906         Yem
1680       Zambia    Africa  1952   42.038   2672000  1147.388831         Zam
1681       Zambia    Africa  1957   44.077   3016000  1311.956766         Zam
1682       Zambia    Africa  1962   46.023   3421000  1452.725766         Zam
1683       Zambia    Africa  1967   47.768   3900000  1777.077318         Zam
1684       Zambia    Africa  1972   50.107   4506497  1773.498265         Zam
1685       Zambia    Africa  1977   51.386   5216550  1588.688299         Zam
1686       Zambia    Africa  1982   51.821   6100407  1408.678565         Zam
1687       Zambia    Africa  1987   50.821   7272406  1213.315116         Zam
1688       Zambia    Africa  1992   46.100   8381163  1210.884633         Zam
1689       Zambia    Africa  1997   40.238   9417789  1071.353818         Zam
1690       Zambia    Africa  2002   39.193  10595811  1071.613938         Zam
1691       Zambia    Africa  2007   42.384  11746035  1271.211593         Zam
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115         Zim
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268         Zim
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182         Zim
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071         Zim
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176         Zim
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682         Zim
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041         Zim
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306         Zim
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786         Zim
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960         Zim
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623         Zim
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298         Zim

[1704 rows x 7 columns]

In [18]:
gapminder.sort_values(['year', 'continent', 'country'], ascending=[False, True, False])

,country,continent,year,lifeExp,pop,gdpPercap,country_abb
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,Zim
1691,Zambia,Africa,2007,42.384,11746035,1271.211593,Zam
1595,Uganda,Africa,2007,51.542,29170398,1056.380121,Uga
1571,Tunisia,Africa,2007,73.923,10276158,7092.923025,Tun
1547,Togo,Africa,2007,58.420,5701579,882.969944,Tog
1523,Tanzania,Africa,2007,52.517,38139640,1107.482182,Tan
1463,Swaziland,Africa,2007,39.613,1133066,4513.480643,Swa
1451,Sudan,Africa,2007,58.556,42292929,2602.394995,Sud
1415,South Africa,Africa,2007,49.339,43997828,9269.657808,Sou
1403,Somalia,Africa,2007,48.159,9118773,926.141068,Som
1355,Sierra Leone,Africa,2007,42.568,6144562,862.540756,Sie
1331,Senegal,Africa,2007,63.062,12267493,1712.472136,Sen
1307,Sao Tome and Principe,Africa,2007,65.528,199579,1598.435089,Sao
1295,Rwanda,Africa,2007,46.242,8860588,863.088464,Rwa
1271,Reunion,Africa,2007,76.442,798094,7670.122558,Reu
1139,Nigeria,Africa,2007,46.859,135031164,2013.977305,Nig
1127,Niger,Africa,2007,56.867,12894865,619.676892,Nig
1067,Namibia,Africa,2007,52.906,2055080,4811.060429,Nam
1043,Mozambique,Africa,2007,42.082,19951656,823.685621,Moz
1031,Morocco,Africa,2007,71.164,33757175,3820.175230,Mor
983,Mauritius,Africa,2007,72.801,1250882,10956.991120,Mau
971,Mauritania,Africa,2007,64.164,3270065,1803.151496,Mau
959,Mali,Africa,2007,54.467,12031795,1042.581557,Mal
935,Malawi,Africa,2007,48.303,13327079,759.349910,Mal
923,Madagascar,Africa,2007,59.443,19167654,1044.770126,Mad
911,Libya,Africa,2007,73.952,6036914,12057.499280,Lib
899,Liberia,Africa,2007,45.678,3193942,414.507341,Lib
887,Lesotho,Africa,2007,42.592,2012649,1569.331442,Les
827,Kenya,Africa,2007,54.110,35610177,1463.249282,Ken
635,Guinea-Bissau,Africa,2007,46.388,1472041,579.231743,Gui
...,...,...,...,...,...,...,...
1476,Switzerland,Europe,1952,69.620,4815000,14734.232750,Swi
1464,Sweden,Europe,1952,71.860,7124673,8527.844662,Swe
1416,Spain,Europe,1952,64.940,28549870,3834.034742,Spa
1380,Slovenia,Europe,1952,65.570,1489518,4215.041741,Slo
1368,Slovak Republic,Europe,1952,64.360,3558137,5074.659104,Slo
1332,Serbia,Europe,1952,57.996,6860147,3581.459448,Ser
1272,Romania,Europe,1952,61.050,16630000,3144.613186,Rom
1236,Portugal,Europe,1952,59.820,8526050,3068.319867,Por
1224,Poland,Europe,1952,61.310,25730551,4029.329699,Pol
1140,Norway,Europe,1952,72.670,3327728,10095.421720,Nor
1080,Netherlands,Europe,1952,72.130,10381988,8941.571858,Net
1008,Montenegro,Europe,1952,59.164,413834,2647.585601,Mon
768,Italy,Europe,1952,65.940,47666000,4931.404155,Ita
744,Ireland,Europe,1952,66.910,2952156,5210.280328,Ire
684,Iceland,Europe,1952,72.490,147962,7267.688428,Ice
672,Hungary,Europe,1952,64.030,9504000,5263.673816,Hun
588,Greece,Europe,1952,65.860,7733250,3530.690067,Gre
564,Germany,Europe,1952,67.500,69145952,7144.114393,Ger
528,France,Europe,1952,67.410,42459667,7029.809327,Fra
516,Finland,Europe,1952,66.550,4090500,6424.519071,Fin
408,Denmark,Europe,1952,70.780,4334000,9692.385245,Den
396,Czech Republic,Europe,1952,66.870,9125183,6876.140250,Cze
372,Croatia,Europe,1952,61.210,3882229,3119.236520,Cro
180,Bulgaria,Europe,1952,59.600,7274900,2444.286648,Bul
144,Bosnia and Herzegovina,Europe,1952,53.820,2791000,973.533195,Bos
108,Belgium,Europe,1952,68.000,8730405,8343.105127,Bel
72,Austria,Europe,1952,66.800,6927772,6137.076492,Aus
12,Albania,Europe,1952,55.230,1282697,1601.056136,Alb
1092,New Zealand,Oceania,1952,69.390,1994794,10556.575660,New
60,Australia,Oceania,1952,69.120,8691212,10039.595640,Aus

In [20]:
gapminder[gapminder['year'] == 2007][['pop']].sum()

pop    6251013179
dtype: int64

In [24]:
gapminder[gapminder['year'] == 2007].groupby(by = 'continent')[['pop']].sum()

                  pop
continent
Africa      929539692
Americas    898871184
Asia       3811953827
Europe      586098529
Oceania      24549947